/* This code was adapted from MacSites' WordPress Theme */

/* Forms */

label,
.wpforms-field-label {
    margin-bottom: 6px;
}

.form-group {
    margin-bottom: 18px;
}

.form-control {
    padding: 13px 14px;
    color: #222;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #93939A;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(94, 106, 113, 0.1);
}

.form-control {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.form-control:focus {
    color: #000;
}

select.form-control {
    padding-right: 72px;
    border-radius: 4px;
    height: 48px !important;
    background-repeat: no-repeat;
    background-size: 55px 46px;
    background-position: right center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='DropdownArrow' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 84 60'%3E%3Crect y='-12' style='fill:%23fdbf57;' width='84' height='84'/%3E%3Cpolyline style='fill:none;stroke:%23222222;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;' points='49,25.3 40,34.3 31,25.3 '/%3E%3C/svg%3E");
    transition: all 0.5s ease;
}

select.form-control:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='DropdownArrow' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 84 60'%3E%3Crect y='-12' style='fill:%237a003c;' width='84' height='84'/%3E%3Cpolyline style='fill:none;stroke:%23ffffff;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;' points='49,25.3 40,34.3 31,25.3 '/%3E%3C/svg%3E");
    cursor: pointer;
    background-color: #efefef;
}

form.wpforms-form input[type=email],
form.wpforms-form input[type=password],
form.wpforms-form input[type=tel],
form.wpforms-form input[type=text],
form.wpforms-form input[type=url],
form.wpforms-form select,
form.wpforms-form textarea {
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    padding: 8px 14px;
}

/*Search Button */

.input-group-append .btn.btn-search {
    border-width: 1px;
    background-color: var(--secondary-colour);
}

.input-group-append .btn.btn-search:hover {
    background-color: var(--primary-colour);
}

.input-group-append .btn.btn-search:hover::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='b7ff402d-2e47-497f-ba2c-3db55e7b97ef' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='25px' height='25px' viewBox='-1 -1 30 30'%3E %3Ccircle style='fill:none;stroke:%23ffffff;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;' cx='10.8' cy='10.8' r='10'/%3E%3Cline style='fill:none;stroke:%23ffffff;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;' x1='17.8' y1='17.8' x2='24.8' y2='24.8'/%3E%3C/svg%3E");
}

/* Input Small */

.form-control-sm,
.form-control-sm button {
    font-size: 12px;
    padding: 4px 18px;
    line-height: 13px;
    height: 36px;
    border-radius: 18px;
}

/* Input Large */

.form-control-lg,
.form-control-lg button {
    font-size: 17px;
    line-height: 17px;
    padding: 2px 36px;
    height: 60px;
    border-radius: 30px;
}

.input-group-append button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #93939A;
    border-left-width: 0;
    min-width: 0;
    text-align: center;
    text-align: center !important;
}

textarea.form-control {
    border-radius: 5px;
}

.form-text {
    margin-top: 6px;
}

.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid {
    border-color: #007B4B;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #A6192E;
}

.invalid-feedback {
    display: block;
    margin-top: 6px;
    color: #A6192E;
}